<!-- product-get.component.html -->


<div class="row">
    <div class= "col col-lg-4" *ngFor="let product of products">
        <!--Card-->
          <div class="card flexcss">
              <!--Card image-->
              <img class="imgsrc img-responsive img-rounded" src="assets/mastercard.png" />
              <!--Card content-->
              <div class="card-body">
                  <!--Title-->
                  <h4 class="card-title">{{ product.ProductName }}</h4>
                  <!--Text-->
                  <p class="card-text"> <h5>{{ product.ProductDescription }}</h5>
                  <a [routerLink]="['/edit', product._id]" class="btn btn-primary">Edit</a>
		  <a (click) = "deleteProduct(product._id)" class="btn btn-danger">Delete</a>
              </div>
          </div>
          <!--/.Card-->
    </div>
  </div>
